$primary: #2f5f7a;
$secondary: #f4fbfa;
$success: #5488a5;

$position-values: (
  0: 0,
  10: 10%,
  40: 40%,
  50: 50%,
  100: 100%,
);

@import 'bootstrap/scss/bootstrap';

.hero-section {
  background: url('https://source.unsplash.com/featured/?interior') no-repeat
    center center;
  background-size: cover;
  height: 25rem;
  @include media-breakpoint-up(md) {
    height: 35rem;
  }
  @include media-breakpoint-up(lg) {
    height: 40rem;
  }
}

.blur {
  backdrop-filter: blur(7px);
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 8rem;
}
.dm-sans-700 {
  font-family: 'DM Sans', sans-serif;
  font-size: x-large;
  font-weight: 700;
  letter-spacing: 0.25px;
}
